*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; // 10px
}

body {
	background-color: $clr-primary-bg;
}

.app {
	display: grid;
	grid-template-columns: $grid-clms-primary;
	grid-template-rows: min-content 1fr min-content;
}

.content {
	grid-column: $grid-clms-content;
	grid-row: 2 / 3;
}

.btn {
	&:link,
	&:visited {
		background-color: $clr-primary;
		color: $clr-white;
		display: block;
		font-family: "Roboto", sans-serif;
		font-size: 1.5rem;
		padding: 2rem 3rem;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		transition: all .2s;
	}

	&:hover,
	&:active {
		background-color: $clr-primary-light;
	}
}