*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; // 10px
}

body {
	background-color: $clr-primary-bg;
}

.app {
	display: grid;
	grid-template-columns: $grid-clms-primary;
	grid-template-rows: min-content 1fr min-content;
}

.content {
	grid-column: $grid-clms-content;
	grid-row: 2 / 3;
}


// bootstrap corrections
.seasons {
	color: #333;
}

h3 {
	color: #333;
	margin-left: 0;
}

.jumbotron {
	background-color: $clr-primary-bg;
}

.control-label {
	color: #333;
}