.nav {
	grid-column: 1 / -1;

	display: grid;
	grid-template-columns: $grid-clms-primary;

	&__list {
		grid-column: $grid-clms-content;
		list-style: none;

		display: grid;
		grid-template-columns: repeat(3, max-content) 1fr max-content;
		grid-auto-flow: column;
		justify-content: start;
	}

	&__item {
		&--auth {
			grid-column-start: 5;
		}
	}

	&__link {
		&:link,
		&:visited {
			color: $clr-primary-highlight;
			display: block;
			font-size: 1.6rem;
			font-weight: 500;
			padding: .75rem 3rem;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
		}

		&:hover,
		&:active {
			background-color: $clr-primary;
		}
	}

	&__active {
		background-color: $clr-primary;
	}
}