body {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	line-height: 1.6;
	color: $clr-primary-highlight;
}

.heading-1 {
	font-size: 4.5rem;
	// bootstrap corrections
	margin: 0;
}

.heading-2 {
	font-size: 3rem;
}

.heading-3 {
	font-size: 2rem;
	line-height: 1;
	// bootstrap corrections
	color: $clr-primary-highlight;
	margin: 0;
}

.heading-4 {
	font-size: 1.6rem;
	line-height: 1;
}
