// COLORS
$clr-primary: 			#064789;
$clr-primary-light: 	#0094c6;
$clr-primary-highlight:	#b4deea;
$clr-primary-details:	#085b8c;
$clr-primary-bg:		#0b3954;

$clr-white:				#ffffff;

// LAYOUT
$grid-sidegap: minmax(2rem, 2fr);
$grid-clms-primary: [left-start] $grid-sidegap
					[left-end content-start] repeat(8, minmax(min-content, 1fr))
					[content-end right-start] $grid-sidegap [right-end];
$grid-clms-content: content-start / content-end;
