
.auth {
	width: 60%;
	margin: 0 auto;
}

.auth fieldset {
	border: 0;
	margin: 0 auto;
}

.auth input {
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	font-size: large;
	border: 0;
	border-bottom: 1px solid #dfdfdf;
	background-color: #fff;
	margin: 10px auto;
}

.auth button {
	background-color: #efefef;
	border: 0;
	width: 60%;
	padding: 10px;
	margin: 10px;
	font-size: large;
}

.auth button:hover {
	background-color: #dfdfdf;
}

.error {
	color: red;
	text-align: left;
	padding: 0 10px;
}