
.footer {
	grid-area: footer;	
	background-color: #efefef;
	color: black;
	padding: 10px 0;
}

footer {
	display: grid;
	grid-template-columns: 3fr repeat(8, 1fr) 3fr;
	align-items: center;
}

small {
	grid-column: 2 / span 2;
	box-sizing: border-box; 
	text-align: left;
}

.logo {
	grid-column: 8;
}

#react {
	animation: App-logo-spin infinite 20s linear;
}

img {
	height: 40px;
	justify-self: stretch;
}

@keyframes App-logo-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}