
.navbar {
	grid-area: navbar;
	display: grid;
						/* 0.375		1		 0.375 */
	grid-template-columns: 4.5fr repeat(12, 1fr) 4.5fr;
	grid-template-areas: '. menu profile . search . signin signout .';
	
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #efefef;
}

.navbar a {
	display: inline-block;
	color: black;
	text-decoration: none;
	padding: 10px 0;
}

.navbar a:hover {
	background-color: #dfdfdf;
}

.navbar .active {
	background-color: #dfdfdf;
}

#home {
	grid-column: 2;
}

#profile {
	grid-column: 3;
}

#search {
	grid-column: 7 / 9;
	grid-row: 1;
}

#signin {
	grid-column: -4;
}

#signup {
	grid-column: -3;
}

#signout {
	grid-column: -3;
}
