
.search {
	margin: 10px;
}

.search input {
	display: block;
	box-sizing: border-box;
	width: 60%;
	padding: 6px 10px;
	margin: 0 auto;
	border: 0;
	border-bottom: 1px solid #ddd;
}

.search input:focus {
	background-color: #eee;
}

.searchList {
	margin: 0;
	padding: 0;
	text-align: left;
	list-style-type: none;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 5px;
}