
body {
	background-color: #fafafa;
}

.App {
	background-color: #fff;
}

.footer {
	background-color: #fafafa;
	margin: 0;
	border: 0;
}

.logo {
	height: 40px;
}

div .error {
	color: red;
}

h3 {
	text-align: center;
}

div img {
	float: left;
}